body {
    background: #ecebe2;
}

.navbar {
    border: none;
    background: #ecf7f2;
}

.navbar-default {
    box-shadow: none;
}

.nav-container {
    width: 100%;
    padding: 0;
}

.navbar-brand {
    margin:0 !important;
}

.navbar-brand > img{
    margin-top:-4px;
    display: inline-block;
}

.navbar-brand > span{
    display: inline-block;
    font-family: Georgia, serif;
    color: #829589
}

.navbar-right {
    margin: 0;
}

.nav-tabs {

    border: none;
}

.secondary-nav {
    position: relative;
    float: left;
    width: 100%;
    background: #fff;
    z-index: 20;
    padding: 0 15px 0 15px;
}

.secondary-nav >  #navbar > ul > li {
    background: none;
    border: none;
}

.secondary-nav > #navbar > ul > li.active {
    font-weight: bolder;
    background: none;
    border: none;
    box-shadow: none;
}

.nav-row {
    margin: 0;
}

#navbar > ul > li.active {
    background: #fff;
    border: 1px solid #bcc5c8;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    box-shadow: 0px 1px 8px #ccc, 0px 4px 7px #777;
    z-index: 10;
}

#navbar > ul > li.active > a {
    color: #646e75;
    border:none;
}
#navbar > ul > li {
    background: #f2f5f4;
    border: 1px solid #e8e8e8;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
}

#navbar > ul > li.tab-pane {
    border: none;
    background: none;
}

.nav-tabs > li > a{
    color: #81a190;
    border: none;
}

.secondary-nav > div > ul {
    float:left !important;
}

.content-container {
    margin: 0;
}

.next-panels {
    margin-top: 20px;
}

.addnewprogram-btn {
    background-color: #bcd89e; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjZDg5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YmMwODQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-color: -moz-linear-gradient(top, #bcd89e 0%, #9bc084 100%); /* FF3.6+ */
    background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcd89e), color-stop(100%,#9bc084)); /* Chrome,Safari4+ */
    background-color: -webkit-linear-gradient(top, #bcd89e 0%,#9bc084 100%); /* Chrome10+,Safari5.1+ */
    background-color: -o-linear-gradient(top, #bcd89e 0%,#9bc084 100%); /* Opera 11.10+ */
    background-color: -ms-linear-gradient(top, #bcd89e 0%,#9bc084 100%); /* IE10+ */
    background-color: linear-gradient(to bottom, #bcd89e 0%,#9bc084 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcd89e', endColorstr='#9bc084',GradientType=0 ); /* IE6-8 */
    background-image: url(../assets/plus_icon.png); 
    background-repeat: no-repeat;
    background-position: center center;
    height: 65px;
    width: 100%;
    border-radius: 5px;
    box-shadow:  1px 1px 3px #6d6d6d, -1px -1px 3px #6d6d6d;

}

.addnewprogram-btn:hover {
    box-shadow: inset 1px 1px 3px #6d6d6d, inset -1px -1px 3px #6d6d6d;
    cursor: pointer;
}

.addnewprogram-btn > img {
    position: absolute;
    text-align: center;
    top: 29%;
    left: 35%;
}

.addnewprogram-text {
  position: absolute;
  top: 105%;
  left: 14%;
  font-size: .8em;
  font-weight: bold;
}

.inner-panel {
    padding: 5px 15px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e6e6dd;
}

.program-name {
    float: left;
}

.pencil-icon {
    background: url(../assets/pencil_icons.png) no-repeat 0 -17px;
    width: 18px;
    height: 17px;
    float: right;
    margin-top: 9px;
}

.pencil-icon:hover  {
    background-position: 0 0;
    cursor: pointer;
}

.panel-section-title, .panel-section-info {
    font-size: 0.725em;
    color: #c4c4bd;
    float: left;
    width: 33%;
    margin-left: 5%;
}

.panel-section-info > ul {
    list-style: none;
    margin: 0;
    padding:0;
}

.panel-section-info > ul > li{
    height: 22px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-section-info.column1 > ul > li{
    color: #888878;
}

.panel-section-info.column2 > ul > li{
    color: #c9c2bc;
}


.panel-section-title.column2 {
    margin-left: 10%;
    width: 24%;
}

.panel-section-info.column2 {
    width: 14%;
    color: #6e6e65;
    margin: 0 0 0 10%;
}

.less, .more {
    font-size: .8em;
    color: #cecec6;
    text-decoration: none;
}

.less:hover, .more:hover {
    color: #6f6f67;
    cursor: pointer;
    text-decoration: none;
}

.bar-graph {
    width: 100%;
    height: 92px;
    background: url(../assets/graph.png) no-repeat center center;
}

.spark-line {
    background: url(../assets/spark_line.png) no-repeat center center;
}

.info-panel {
    display: none;
}