.navbar {
    border: none;
    background: #ecf7f2;
}

.nav-container {
    width: 100%;
    padding: 0;
}

.navbar-brand {
    margin:0 !important;
}

.navbar-right {
    margin: 0;
}


.secondary-nav {
    position: relative;
    float: left;
    width: 100%;
    background: #fff;
    z-index: 20;
    padding: 0 15px 0 15px;

}

.nav-row {
    margin: 0;
}

#navbar > ul > li.active {
    background: #fff;
border: 1px solid #bcc5c8;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
  box-shadow: 0px 1px 8px #ccc, 0px 4px 7px #777;
  z-index: 10;
}

#navbar > ul > li.active > a {
    color: #646e75;
    border:none;
}
#navbar > ul > li {
    background: #f2f5f4;
    border: 1px solid #e8e8e8;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
}

#navbar > ul > li.tab-pane {
    border: none;
    background: none;
}

.nav-tabs > li > a{
    color: #81a190;
    border: none;
}

.secondary-nav > div > ul {
    float:left !important;
}

.secondary-nav {
}