body {
    background: #ecebe2;
}
.nav-container {
    width: 100%;
    padding: 0;
}

.navbar {
    border: none;
    background: #ecf7f2;
}

.navbar-default {
    box-shadow: none;
}

.navbar-right {
    margin: 0;
}

/* Set active elemnt in main nav */
#navbar > ul > li.active {
    background: #fff;
    border: 1px solid #bcc5c8;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    box-shadow: 0px 1px 8px #ccc, 0px 4px 7px #777;
    z-index: 10;
}

#navbar > ul > li.active > a {
    color: #646e75;
    border:none;
}

/* Set inactive/non-active/normal state of nav items */
#navbar > ul > li {
    background: #f2f5f4;
    border: 1px solid #e8e8e8;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
}

#navbar > ul > li.tab-pane {
    border: none;
    background: none;
}

.nav-tabs {
    border: none;
}

.nav-tabs > li > a{
    color: #81a190;
    border: none;
}

/* Set up wrapper, logo and text for company brand */
.navbar-brand {
    margin:0 !important;
}

.navbar-brand > img {
    margin-top:-4px;
    display: inline-block;
}

.navbar-brand > span{
    display: inline-block;
    font-family: Georgia, serif;
    color: #829589
}

/* Set up secondary nav */

.secondary-nav {
    position: relative;
    float: left;
    width: 100%;
    background: #fff;
    z-index: 20;
    padding: 0 15px 0 15px;
}

.secondary-nav > div > ul {
    float:left !important;
}

.secondary-nav >  #navbar > ul > li {
    background: none;
    border: none;
}

.secondary-nav > #navbar > ul > li.active {
    font-weight: bolder;
    background: none;
    border: none;
    box-shadow: none;
}

.nav-row {
    margin: 0;
}

/* Wrapper for content */
.content-container {
    margin: 0;
}

/* Add New Program Button */
.addnewprogram-btn {
    background-color: #bcd89e; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background-color: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjZDg5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YmMwODQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-color: -moz-linear-gradient(top, #bcd89e 0%, #9bc084 100%); /* FF3.6+ */
    background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bcd89e), color-stop(100%,#9bc084)); /* Chrome,Safari4+ */
    background-color: -webkit-linear-gradient(top, #bcd89e 0%,#9bc084 100%); /* Chrome10+,Safari5.1+ */
    background-color: -o-linear-gradient(top, #bcd89e 0%,#9bc084 100%); /* Opera 11.10+ */
    background-color: -ms-linear-gradient(top, #bcd89e 0%,#9bc084 100%); /* IE10+ */
    background-color: linear-gradient(to bottom, #bcd89e 0%,#9bc084 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcd89e', endColorstr='#9bc084',GradientType=0 ); /* IE6-8 */
    background-image: url(../assets/plus_icon.png); 
    background-repeat: no-repeat;
    background-position: center center;
    height: 65px;
    width: 100%;
    border-radius: 5px;
    box-shadow:  1px 1px 3px #6d6d6d, -1px -1px 3px #6d6d6d;
}

.addnewprogram-btn:hover {
    box-shadow: inset 1px 1px 3px #6d6d6d, inset -1px -1px 3px #6d6d6d;
    cursor: pointer;
}

.addnewprogram-btn > img {
    position: absolute;
    text-align: center;
    top: 29%;
    left: 35%;
}

.addnewprogram-text {
  position: absolute;
  top: 105%;
  left: 14%;
  font-size: .8em;
  font-weight: bold;
}

/* Padded inner panel for each program */
.inner-panel {
    padding: 5px 15px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e6e6dd;
    margin-bottom: 20px;
}

/* Program Name */
.program-name {
    float: left;
}

/* Bar graph */

.bar-graph-title {
    color: #b9b9b0;
    font-size: .7em;
}

.bar-graph {
    width: 100%;
    height: 92px;
    background: url(../assets/graph.png) no-repeat center center;
}

/* Pencil icon with hover */
.pencil-icon {
    background: url(../assets/pencil_icons.png) no-repeat 0 -17px;
    width: 18px;
    height: 17px;
    float: right;
    margin-top: 9px;
}

.pencil-icon:hover  {
    background-position: 0 0;
    cursor: pointer;
}

/* Panel section title and info styles: Sets up lists and columns for data*/
.panel-section-title, .panel-section-info {
    font-size: 0.725em;
    color: #c4c4bd;
    float: left;
    width: 33%;
    margin-left: 5%;
}

.panel-section-info > ul {
    list-style: none;
    margin: 0;
    padding:0;
}

.panel-section-info > ul > li{
    height: 22px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-section-info.column1 > ul > li{
    color: #888878;
}

.panel-section-info.column2 > ul > li{
    color: #c9c2bc;
}

.panel-section-title.column2 {
    margin-left: 10%;
    width: 24%;
}

.panel-section-info.column2 {
    width: 14%;
    color: #6e6e65;
    margin: 0 0 0 10%;
}

.panel-section-title.column3 {
    width: 13%;
    margin-left: 6%;
}

/* "More" and "Less" Buttons */
.less, .more, .more-inactive {
    font-size: .8em;
    color: #cecec6;
    text-decoration: none;
}

.less:hover, .more:hover, .more-inactive:hover {
    color: #6f6f67;
    cursor: pointer;
    text-decoration: none;
}

/* Expandable Panel */
.info-panel {
    display: none;
}

/* Re-Style Bootstrap primary button to match color scheme. Used for lightbox form submission */
.btn-primary {
    color: #666;
    background: rgb(187,215,158); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiZDc5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5Y2MxODUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(187,215,158,1) 0%, rgba(156,193,133,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(187,215,158,1)), color-stop(100%,rgba(156,193,133,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(187,215,158,1) 0%,rgba(156,193,133,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(187,215,158,1) 0%,rgba(156,193,133,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(187,215,158,1) 0%,rgba(156,193,133,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(187,215,158,1) 0%,rgba(156,193,133,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbd79e', endColorstr='#9cc185',GradientType=0 ); /* IE6-8 */
    border-color: #688a53;
    }

.btn-primary.active, .btn-primary:hover {
    color: #000;
}

.btn-primary.active, .btn-primary:active  {
    background: #688a53;
    color: #fff;
}

/* Lower list styles */
.all-programs {
    color: #959580;
    font-size: 12px;
}

.all-programs ~ ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.monthly-sales, .monthly-attendance {
    color: #959580;
    font-size: 10px;
    white-space: nowrap;
}

.lower-listings > div > div > div {
    color: #69695f;
    font-size: 12px;
    font-weight: bold;

}